#secret-cover {
    display: block;
    width: 95%;
    max-width: 700px;
    margin: 35px auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

body {
    font-family: Helvetica;
    background-color: #2a2a47;
    background: linear-gradient(120deg, #141420, #2b2bbeff);
    margin: 5;
    padding: 5;
    line-height: 2;
}

a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: underline;
    border: 3px solid #f1f1f1;
    border-radius: 8px;
    transition: 0.5s ease;
}

a:hover {
    background-color: #f1f1f1;
    color: #121212;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 45px;
    color: #bbb;
}

h2 {
    text-align: center;
    color: #bbb;
}

section {
    width: 85%;
    max-width: 800px;
    margin: 45px auto;
    padding: 25px;
    background: #1e1e1e;
    background: linear-gradient(120deg, #2b2bbeff, #2a2a47);
    border-radius: 15px;
    box-shadow: 0 3 10px rgba(255, 255, 255, 0.1);
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

li:hover{
    background: #2e2e2e;
}

li p{
    font-weight: bold;
    margin-bottom: 10px;
    color: #f5f5f5;
}

audio {
    width: 100%;
    outline:none; 
}